[data-star] {
    text-align: left;
    font-style: normal;
    display: inline-block;
    position: relative;
    unicode-bidi: bidi-override;
    width: fit-content;
}

[data-star]::before {
    display: block;
    content: '★★★★★★★★★★';
    color: #eee;
}

[data-star]::after {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★★★★★★';
    width: 0;
    color: #ff8c00;
    overflow: hidden;
    height: 100%;
}

[data-star^="0.1"]::after {
    width: 1%;
}

[data-star^="0.2"]::after {
    width: 2%;
}

[data-star^="0.3"]::after {
    width: 3%;
}

[data-star^="0.4"]::after {
    width: 4%;
}

[data-star^="0.5"]::after {
    width: 5%;
}

[data-star^="0.6"]::after {
    width: 6%;
}

[data-star^="0.7"]::after {
    width: 7%;
}

[data-star^="0.8"]::after {
    width: 8%;
}

[data-star^="0.9"]::after {
    width: 9%;
}

[data-star^="1.0"]::after {
    width: 10%;
}

[data-star^="1.1"]::after {
    width: 11%;
}

[data-star^="1.2"]::after {
    width: 12%;
}

[data-star^="1.3"]::after {
    width: 13%;
}

[data-star^="1.4"]::after {
    width: 14%;
}

[data-star^="1.5"]::after {
    width: 15%;
}

[data-star^="1.6"]::after {
    width: 16%;
}

[data-star^="1.7"]::after {
    width: 17%;
}

[data-star^="1.8"]::after {
    width: 18%;
}

[data-star^="1.9"]::after {
    width: 19%;
}

[data-star^="2.0"]::after {
    width: 20%;
}

[data-star^="2.1"]::after {
    width: 21%;
}

[data-star^="2.2"]::after {
    width: 22%;
}

[data-star^="2.3"]::after {
    width: 23%;
}

[data-star^="2.4"]::after {
    width: 24%;
}

[data-star^="2.5"]::after {
    width: 25%;
}

[data-star^="2.6"]::after {
    width: 26%;
}

[data-star^="2.7"]::after {
    width: 27%;
}

[data-star^="2.8"]::after {
    width: 28%;
}

[data-star^="2.9"]::after {
    width: 29%;
}

[data-star^="3.0"]::after {
    width: 30%;
}

[data-star^="3.1"]::after {
    width: 31%;
}

[data-star^="3.2"]::after {
    width: 32%;
}

[data-star^="3.3"]::after {
    width: 33%;
}

[data-star^="3.4"]::after {
    width: 34%;
}

[data-star^="3.5"]::after {
    width: 35%;
}

[data-star^="3.6"]::after {
    width: 36%;
}

[data-star^="3.7"]::after {
    width: 37%;
}

[data-star^="3.8"]::after {
    width: 38%;
}

[data-star^="3.9"]::after {
    width: 39%;
}

[data-star^="4.0"]::after {
    width: 40%;
}

[data-star^="4.1"]::after {
    width: 41%;
}

[data-star^="4.2"]::after {
    width: 42%;
}

[data-star^="4.3"]::after {
    width: 43%;
}

[data-star^="4.4"]::after {
    width: 44%;
}

[data-star^="4.5"]::after {
    width: 45%;
}

[data-star^="4.6"]::after {
    width: 46%;
}

[data-star^="4.7"]::after {
    width: 47%;
}

[data-star^="4.8"]::after {
    width: 48%;
}

[data-star^="4.9"]::after {
    width: 49%;
}

[data-star^="5.0"]::after {
    width: 50%;
}

[data-star^="5.1"]::after {
    width: 51%;
}

[data-star^="5.2"]::after {
    width: 52%;
}

[data-star^="5.3"]::after {
    width: 53%;
}

[data-star^="5.4"]::after {
    width: 54%;
}

[data-star^="5.5"]::after {
    width: 55%;
}

[data-star^="5.6"]::after {
    width: 56%;
}

[data-star^="5.7"]::after {
    width: 57%;
}

[data-star^="5.8"]::after {
    width: 58%;
}

[data-star^="5.9"]::after {
    width: 59%;
}

[data-star^="6.0"]::after {
    width: 60%;
}

[data-star^="6.1"]::after {
    width: 61%;
}

[data-star^="6.2"]::after {
    width: 62%;
}

[data-star^="6.3"]::after {
    width: 63%;
}

[data-star^="6.4"]::after {
    width: 64%;
}

[data-star^="6.5"]::after {
    width: 65%;
}

[data-star^="6.6"]::after {
    width: 66%;
}

[data-star^="6.7"]::after {
    width: 67%;
}

[data-star^="6.8"]::after {
    width: 68%;
}

[data-star^="6.9"]::after {
    width: 69%;
}

[data-star^="7.0"]::after {
    width: 70%;
}

[data-star^="7.1"]::after {
    width: 71%;
}

[data-star^="7.2"]::after {
    width: 72%;
}

[data-star^="7.3"]::after {
    width: 73%;
}

[data-star^="7.4"]::after {
    width: 74%;
}

[data-star^="7.5"]::after {
    width: 75%;
}

[data-star^="7.6"]::after {
    width: 76%;
}

[data-star^="7.7"]::after {
    width: 77%;
}

[data-star^="7.8"]::after {
    width: 78%;
}

[data-star^="7.9"]::after {
    width: 79%;
}

[data-star^="8.0"]::after {
    width: 80%;
}

[data-star^="8.1"]::after {
    width: 81%;
}

[data-star^="8.2"]::after {
    width: 82%;
}

[data-star^="8.3"]::after {
    width: 83%;
}

[data-star^="8.4"]::after {
    width: 84%;
}

[data-star^="8.5"]::after {
    width: 85%;
}

[data-star^="8.6"]::after {
    width: 86%;
}

[data-star^="8.7"]::after {
    width: 87%;
}

[data-star^="8.8"]::after {
    width: 88%;
}

[data-star^="8.9"]::after {
    width: 89%;
}

[data-star^="9.0"]::after {
    width: 90%;
}

[data-star^="9.1"]::after {
    width: 91%;
}

[data-star^="9.2"]::after {
    width: 92%;
}

[data-star^="9.3"]::after {
    width: 93%;
}

[data-star^="9.4"]::after {
    width: 94%;
}

[data-star^="9.5"]::after {
    width: 95%;
}

[data-star^="9.6"]::after {
    width: 96%;
}

[data-star^="9.7"]::after {
    width: 97%;
}

[data-star^="9.8"]::after {
    width: 98%;
}

[data-star^="9.9"]::after {
    width: 99%;
}

[data-star^="10.0"]::after {
    width: 100%;
}
